
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87e2bf;
}

header {
    background-color: #d4bb28;
    color: rgb(19, 50, 187);
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(14, 103, 126);
    text-decoration: none;
}

section {
    padding: 20px;
}

.evento {
    background-color: rgb(158, 79, 79);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(96, 80, 100, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

.evento h3 {
    color: #4caf50;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4caf50;
    color: rgb(46, 214, 68);
}

.galeria-imagens, .feira-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagem-galeria, .imagem-feira {
    width: calc(25% - 10px);
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(38, 50, 224, 0.1);
}

@media (max-width: 768px) {
    .imagem-galeria, .imagem-feira {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .imagem-galeria, .imagem-feira {
        width: calc(100% - 10px);
    }
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#commentsList {
    list-style-type: none;
    padding-left: 0;
}
